<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447567395688-7r6khucdkcsc6upr3jii0v0labe96cb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447567395688-7r6khucdkcsc6upr3jii0v0labe96cb0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447567395688-bmlfebga50ppplfkk886pm5ec67f91or.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACiuVyV1DV4Yj0cDy2RV1wskfMV_xoyU8</string>
	<key>GCM_SENDER_ID</key>
	<string>447567395688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-73c81</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-73c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447567395688:ios:a12dab10e14fff8f1934dd</string>
</dict>
</plist>